@font-face {
  font-family: "Covik Sans Mono";
  src: url('../fonts/Covik_Sans_Mono-Regular.woff2') format('woff2'),
       url('../fonts/Covik_Sans_Mono-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Covik Sans Mono";
  src: url('../fonts/Covik_Sans_Mono-Italic.woff2') format('woff2'),
       url('../fonts/Covik_Sans_Mono-Italic.woff') format('woff');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Covik Sans Mono";
  src: url('../fonts/Covik_Sans_Mono-Medium.woff2') format('woff2'),
       url('../fonts/Covik_Sans_Mono-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Covik Sans Mono";
  src: url('../fonts/Covik_Sans_Mono-Medium_Italic.woff2') format('woff2'),
       url('../fonts/Covik_Sans_Mono-Medium_Italic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Covik Sans Mono";
  src: url('../fonts/Covik_Sans_Mono-Semibold.woff2') format('woff2'),
       url('../fonts/Covik_Sans_Mono-Semibold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Covik Sans Mono";
  src: url('../fonts/Covik_Sans_Mono-Semibold_Italic.woff2') format('woff2'),
       url('../fonts/Covik_Sans_Mono-Semibold_Italic.woff') format('woff');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "Covik Sans Mono";
  src: url('../fonts/Covik_Sans_Mono-Bold.woff2') format('woff2'),
       url('../fonts/Covik_Sans_Mono-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Covik Sans Mono";
  src: url('../fonts/Covik_Sans_Mono-Bold_Italic.woff2') format('woff2'),
       url('../fonts/Covik_Sans_Mono-Bold_Italic.woff') format('woff');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Metamor Bit";
  src: url('../fonts/MetamorBit.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "IBM Plex Mono";
  src: url('../fonts/IBMPlexMono-Regular-Latin1.woff2') format('woff2'),
       url('../fonts/IBMPlexMono-Regular-Latin1.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "IBM Plex Mono";
  src: url('../fonts/IBMPlexMono-Bold-Latin1.woff2') format('woff2'),
       url('../fonts/IBMPlexMono-Bold-Latin1.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

:root {
  --black: #111111;
  --baby-blue: #6666ff;
  --pale-yellow: #efefaa;
  --white: #efefef;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Covik Sans Mono";
  font-weight: 400;
  font-style: normal;
  background-color: var(--pale-yellow);
}

p {
  margin: 0;
  padding: 0;
  font-size: 19px;
  line-height: 1.6;
}

p + p {
  margin-top: 20px;
}

p a {
  color: var(--baby-blue);
  text-decoration: none;
  border-bottom: 2px solid var(--baby-blue);
}

strong {
  font-weight: 600;
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
  font-weight: 600;
  font-style: normal;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  border: 0;
  text-decoration: none;
  color: var(--black);
}

h1,
h2 {
  text-decoration-style: wavy;
  text-decoration-line: underline;
  text-decoration-color: var(--baby-blue);
}

h1 {
  font-size: 50px;
  text-decoration-thickness: 3px;
}

h2 {
  font-size: 30px;
  margin-top: 50px;
  margin-bottom: 30px;
  text-decoration-thickness: 2px;
}

pre,
code {
  font-family: "IBM Plex Mono";
  font-weight: 400;
  font-size: 19px;
}

code {
  display: inline-block;
  background-color: var(--white);
  padding: 2px 10px;
  border-radius: 10px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  font-size: 19px;
  display: block;
}

li + li {
  margin-top: 20px;
}

header,
main,
footer {
  margin-top: 40px;
  margin-left: 20px;
  margin-right: 20px;
}

header {
  text-align: center;
}

footer {
  margin-bottom: 40px;
}

footer p {
  font-size: 16px;
}

footer p a {
  color: var(--black);
  border-bottom: 2px dotted var(--black);
}

.container {
  margin: 0 auto;
  max-width: 800px;
}

.logo {
  display: inline-block;
  margin: 0 auto;
  width: 300px;
}

.title {
  margin-bottom: 30px;
}

.prompt {
  font-family: "IBM Plex Mono";
  font-weight: 400;
  display: inline-block;
  background-color: var(--baby-blue);
  color: var(--white);
  border-radius: 5px;
  padding: 12px 20px;
  box-shadow: 5px 5px 0px var(--black);
}

.libraries a {
  color: var(--baby-blue);
}

.libraries code {
  letter-spacing: 0.5px;
  margin-right: 5px;
}

.libraries a:hover code {
  background-color: var(--baby-blue);
  color: var(--white);
}

.news {
  transform: rotate(3deg);
  font-family: "IBM Plex Mono";
  font-weight: 400;
  display: inline-block;
  background-color: var(--baby-blue);
  color: var(--white);
  border-radius: 5px;
  padding: 12px 20px;
  margin-top: 10px;
  box-shadow: 5px 5px 0px var(--black);
}

a:hover .news {
  background-color: var(--white);
  color: var(--baby-blue);
}
